[submodule "lib/libbitcast"]
	path = lib/libbitcast
	url = https://github.com/vincent-lafouasse/libbitcast.git
[submodule "lib/libstream"]
	path = lib/libstream
	url = https://github.com/vincent-lafouasse/libstream.git
[submodule "lib/libaudiospecs"]
	path = lib/libaudiospecs
	url = https://github.com/vincent-lafouasse/libaudiospecs.git
